replicaCount: 1
name: core-user-service

image:
  repository: ghcr.io/visiobook-esp/core-user-service-dev
  tag: latest
  pullPolicy: Always

service:
  type: NodePort
  port: 80
  nodePort: 30081

istio:
  enabled: true
  injection: true

  destinationRule:
    enabled: true
    trafficPolicy:
      connectionPool:
        tcp:
          maxConnections: 100
        http:
          http1MaxPendingRequests: 100
          http2MaxRequests: 100
          maxRequestsPerConnection: 2
      loadBalancer:
        simple: ROUND_ROBIN
      outlierDetection:
        consecutiveErrors: 5
        interval: 30s
        baseEjectionTime: 30s

  mtls:
    enabled: true
    mode: ISTIO_MUTUAL

nodeSelector: {}
tolerations: []
affinity: {}

podLabels:
  app: core-user-service
  version: "latest"
  app.kubernetes.io/name: core-user-service
  app.kubernetes.io/version: "latest"
  app.kubernetes.io/component: backend

resources: {}

# External secret name - managed by infra repo
# The secret must contain: DATABASE_URL, RSA_PRIVATE_KEY
existingSecret: ""

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0  # l'ancien pod reste vivant tant que le nouveau n'est pas prêt
    maxSurge: 1        # autorise 1 pod en plus pendant le rollout

revisionHistoryLimit: 3 # nombre de revision garder sur un pod
progressDeadlineSeconds: 60 # temps max pour que le pod soit opérationnel avant de considérer que le déploiement a échoué
minReadySeconds: 10 # le pod doit être stable 10s avant d'être considéré Available (évite les faux positifs)
terminationGracePeriodSeconds: 10 # délai avant SIGKILL (30s par défaut, réduit pour les tests)

env:
  SERVICE_NAME: core-user-service
  SERVICE_VERSION: 1.0.0
  ENV: prod
  # PORT: 8080
  # LOG_LEVEL: info
  # DATABASE_ECHO: false
  # JWT_ALGORITHM: RS256
  # JWT_KID: visiobook-key-1
  # JWT_ISSUER: core-user-service
  # ACCESS_TOKEN_EXPIRE_MINUTES: 30
  # CORS_ORIGINS: ["http://localhost:3000","http://localhost:8080"]

  # Configuration Python
  PYTHONPATH: /app
  PYTHONUNBUFFERED: 1