name: CI

on: [push]

jobs:
#  lint-and-test:
    # runs-on: ubuntu-latest

    # services:
    # postgres:
    #   image: postgres:15
    #   env:
    #     POSTGRES_PASSWORD: postgres
    #     POSTGRES_DB: test_db
    #   options: >-
    #     --health-cmd pg_isready
    #     --health-interval 10s
    #     --health-timeout 5s
    #     --health-retries 5
    #   ports:
    #     - 5432:5432
    # steps:
    #   - name: Checkout code
    #     uses: actions/checkout@v4

    #   - name: Set up Python
    #     uses: actions/setup-python@v5
    #     with:
    #       python-version: "3.13"

    #   - name: Install dependencies
    #     run: |
    #       python -m pip install --upgrade pip
    #       pip install -r requirements.txt
    #       pip install -r requirements-dev.txt

    #   - name: Black (format check)
    #     run: black --check app

    #   - name: isort (import order check)
    #     run: isort --check-only app

    #   - name: Pylint
    #     run: pylint app

    #   - name: Mypy (type check)
    #     run: mypy app

    #   - name: Run tests with coverage
    #     run: pytest --cov=app --cov-report=term-missing --cov-fail-under=80

    docker-build-and-push:
        runs-on: ubuntu-latest
        #needs: test
        steps:
          
    name: Checkout repository
          uses: actions/checkout@v4

          
    name: Log in to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUBTOKEN }}

          
    name: Build Docker image
          run: |
            docker build -f docker/Dockerfile -t ghcr.io/visiobook-esp/core-user-service-dev:latest ./

          
    name: Push Docker image
          run: |
            docker push ghcr.io/visiobook-esp/core-user-service-dev:latest